<section class="about-lily-page">
    <div class="about-lily-frame">
        <p class="about-lily-text">
            Lily's story
        </p>

        <div class="about-lily-image-block">
            <img
                src="/images/LilyProtrait.PNG"
                alt="Lily"
                class="about-lily-image" />

            <div class="about-lily-small-text">
                From Gaza to a Loving Home<br />
                In the difficult days following October 7, Lily was found alone inside a house in Gaza that was <br />
                expected to be destroyed. Her future was uncertain, but one soldier noticed her and chose not to leave her behind.<br />
                He rescued Lily and brought her safely to Israel.<br />That is where out paths crossed.
                <br />
                We adopted her from the soldier and welcomed her into our family. At first, Lily needed time to understand<br />
                that she was safe. Slowly, she began to trust, explore her new home, and show us her gentle ans loving personality.
                <br />
                Lily went from a place of fear and danger to a home filled with warmth, comfort and love.<br />
                She discovered soft beds, peaceful naps, good food and people who cared for her deeply.
                <br />
                Her story is more that a story of rescue. It's a reminder that even during the darkest times,<br />
                a small act of compassion can save a life.
                <br />
                <br />
                This website was created to remember Lily's journey, celebrate the joy she brought<br />
                into our live's and share a srory of hope.
            </div>
            <p class="about-lily-text about-lily-quote">
                Somtimes, saving one small life may not<br />
                change the whole world. But it changes the<br />
                whole world for that one life.
            </p>
        </div>
    </div>
</section>
